.content__footer{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: var(--azul-10, #EAF2FD);
}
.nosotros li{
    list-style: none;
}
.enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: var(--preto-100, #464646);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.formulario{
    padding-top: 16px;
    width: 100%;
}
.formulario p{
    margin-bottom: 8px;
}
.formulario li p{
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.input-group{
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4375rem;
    align-self: stretch;
    border-radius: 0.25rem;
    background: var(--preto-branco, #FFF);
    margin-bottom: 20px;
    border-bottom: 2px #C8C8C8 solid;
}
.input-group__label {
    color: var(--preto-50, #A2A2A2);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}
  
.input-group__input {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border: none;
}
.input-group__input::placeholder{
    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.enviarMensaje{
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    width: 9.3125rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid var(--azul-100, #2A7AE4);
    background-color: var(--azul-100, #2A7AE4);
    color: white;
    cursor: pointer;
}