header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.search{
    order: 2;
}
.barra{
    display: none;
    border: none;
    background: var(--preto-05, #F5F5F5);
}
.logo{
    max-width: 100px;
    max-height: 29px;
}
.login__button{
    display: flex;
    width: 133px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--azul-100, #2A7AE4);
    background: var(--preto-branco, #FFF);
    font-size: 14px;
    font-weight: 600;
}
.search__icon{
    border: none;
    background: var(--preto-branco, #FFF);
}
@media screen and (min-width: 768px) {
    .barra{
        display: initial;
    }
    .search{
        order: initial;
        border-radius: 20px;
        background: var(--preto-05, #F5F5F5);
        display: flex;
        width: 272px;
        padding: 8px 16px;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-right: auto;
    }
    header{
        padding: 16px 32px;
        justify-content: initial;
    }
    .search__icon{
        border: none;
        background: var(--preto-05, #F5F5F5);
    }
    .logo{
        margin-right: 32px;
    }
}
@media screen and (min-width: 1044px) {
    header{
        max-width: 71rem;
        margin: auto;
        padding: 2rem 0rem;
    }
    .logo{
        max-width: 11rem;
        max-height: 3.13rem;
    }
}
